In [2]:
! pip install pandas matplotlib koreanize_matplotlib scipy psycopg2-binary

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.11/site-packages (3.9.2)
Requirement already satisfied: koreanize_matplotlib in /opt/conda/lib/python3.11/site-packages (0.1.1)
Requirement already satisfied: scipy in /opt/conda/lib/python3.11/site-packages (1.14.1)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.10)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt 
import koreanize_matplotlib
import scipy
import psycopg2

In [4]:
from getpass import getpass
hosts = getpass("호스트 입력 :")
dbname = getpass("db 입력 :")
user = getpass("user 입력 :")
password = getpass("password 입력 :")
port = getpass("port 입력 :")
connection = psycopg2.connect(f"host={hosts} dbname={dbname} user={user} password={password} port={port}")

호스트 입력 : ········
db 입력 : ········
user 입력 : ········
password 입력 : ········
port 입력 : ········

In [5]:
cursor = connection.cursor()

formula = """
SELECT * FROM commercial_district;
"""

cursor.execute(formula)

columns = [desc[0] for desc in cursor.description]
data = cursor.fetchall() 

df = pd.DataFrame(data, columns=columns)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bizesId     10000 non-null  object
 1   bizesNm     10000 non-null  object
 2   brchNm      10000 non-null  object
 3   indsLclsCd  10000 non-null  object
 4   indsLclsNm  10000 non-null  object
 5   indsMclsCd  10000 non-null  object
 6   indsMclsNm  10000 non-null  object
 7   indsSclsCd  10000 non-null  object
 8   indsSclsNm  10000 non-null  object
 9   ksicCd      10000 non-null  object
 10  ksicNm      10000 non-null  object
 11  ctprvnCd    10000 non-null  object
 12  ctprvnNm    10000 non-null  object
 13  signguCd    10000 non-null  object
 14  signguNm    10000 non-null  object
 15  adongCd     10000 non-null  object
 16  adongNm     10000 non-null  object
 17  ldongCd     10000 non-null  object
 18  ldongNm     10000 non-null  object
 19  lnoCd       10000 non-null  object
 20  plotSctCd   10000 non-null  object
 21  plotSctNm   10000 non-null  object
 22  lnoMnno     10000 non-null  object
 23  lnoSlno     10000 non-null  object
 24  lnoAdr      10000 non-null  object
 25  rdnmCd      10000 non-null  object
 26  rdnm        10000 non-null  object
 27  bldMnno     10000 non-null  object
 28  bldSlno     10000 non-null  object
 29  bldMngNo    10000 non-null  object
 30  bldNm       10000 non-null  object
 31  rdnmAdr     10000 non-null  object
 32  oldZipcd    10000 non-null  object
 33  newZipcd    10000 non-null  object
 34  dongNo      10000 non-null  object
 35  flrNo       10000 non-null  object
 36  hoNo        10000 non-null  object
 37  lon         10000 non-null  float64
 38  lat         10000 non-null  float64
dtypes: float64(2), object(37)
memory usage: 3.0+ MB

In [11]:
df.indsMclsNm.value_counts()

indsMclsNm
한식         4106
기타 간이      1831
비알코올       1487
주점         1385
중식          341
서양식         319
일식          314
구내식당·뷔페     117
동남아시아       100
Name: count, dtype: int64

In [14]:
df.indsSclsNm.value_counts().sort_values()

indsSclsNm
패밀리레스토랑             2
기타 일식 음식점           3
기타 동남아식 전문          4
무도 유흥 주점            8
복 요리 전문             9
기타 서양식 음식점         10
전/부침개              14
기타 한식 음식점          22
뷔페                 23
마라탕/훠궈             23
파스타/스테이크           26
아이스크림/빙수           26
일식 카레/돈가스/덮밥       26
일식 면 요리            29
토스트/샌드위치/샐러드       38
냉면/밀면              47
버거                 52
소고기 구이/찜           64
그 외 기타 간이 음식점      89
곱창 전골/구이           90
구내식당               94
베트남식 전문            96
닭/오리고기 구이/찜        97
떡/한과              108
족발/보쌈             112
해산물 구이/찜          164
생맥주 전문            176
피자                181
횟집                230
일식 회/초밥           256
경양식               281
국수/칼국수            308
중국집               318
빵/도넛              323
일반 유흥 주점          324
국/탕/찌개류           372
치킨                433
김밥/만두/분식          581
돼지고기 구이/찜         714
요리 주점             877
카페               1487
백반/한정식           1863
Name: count, dtype: int64